* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-weight: 700;
  font-size: 18px;
  color: #2e3349;
}

p {
  font-style: normal;
  font-weight: normal;
  color: #6b7082;
}
html {
  height: 100%;
}
body {
  margin: 0 auto;
  height: 100%;
  font-family: "Kumbh Sans", sans-serif;
  background: #19a1ae;
  overflow: hidden;
}
.container {
  height: 100%;
  margin: 0 auto;
}
.first {
  height: 100%;
  position: relative;
}
.oval-one {
  width: 57%;
}
.oval-two {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 963px;
  height: 430px;
  max-width: 100%;
}
.box {
  width: 350px;
  height: 374px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -187px 0 0 -175px;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  border-radius: 15px;
}
.up {
  background: #41cbd3;
  border-radius: 15px 15px 0px 0px;
}
.fon {
  width: 100%;
  border-radius: 15px;
}
.infomation {
  text-align: center;
  align-content: center;
  margin-bottom: 53px;
}
.logo {
  position: relative;
  z-index: 1;
  margin-top: -53px;
}
.photo {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ffffff;
  background-color: #ffffff;
}
span {
  color: #6b7082;
  font-weight: 400;
  padding-left: 8px;
}
.title {
  margin: 17px 0 10px 0;
}
.score {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 54px 24px 47px;
}

h2 {
  margin-bottom: 9px;
}
.name {
  font-size: 10px;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1440px) {
  .oval-two {
    right: -145px;
  }
}
@media screen and (max-width: 1024px) {
  .oval-two {
    right: -349px;
  }
}
@media screen and (max-width: 768px) {
  .oval-two {
    right: -324px;
  }
}
@media screen and (max-width: 425px) {
  .oval-one {
    width: 57%;
    height: 30%;
  }
  .oval-two {
    right: -169px;
  }
}
@media screen and (max-width: 375px) {
  .oval-two {
    right: -150px;
  }
  .box {
    width: 326px;
    height: 374px;
    margin: -188px 0 0 -163px;
  }
}
